.Score{
width: 85%;
height: 15%;
display: flex;
justify-content: space-between;
align-items: center;
border: solid 2px var(--HeaderOutline);
border-radius: 7px;
padding: 1rem;
margin: 0 auto;
max-width: 75rem;
section{
    height: 100%;
    width: 75%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    line-height: 1em;
    justify-content: center;
}
@media screen and (min-width: 1400px){
    section{
        font-size: 1.9rem;
    }
}
div{
    background-color: white;
    border-radius: 7%;
    width: 28%;
    max-width: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    h1{
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        color: var(--ScoreText);
    }
    span{
        font-size: 4.3rem;
        font-weight: 700;
        color: var(--DarkText);
    }
}
}